<div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable
      #dt
      [dataKey]="dataKey"
      [editable]="true"
      [first]="rowOffset"
      [paginator]="paginator"
      [lazy]="true"
      [loading]="areRecordsLoading"
      (onColResize)="_onColumnResize($event)"
      (onLazyLoad)="_onLazyLoad($event)"
      [reorderableColumns]="reorderableColumns"
      [resizableColumns]="true"
      [responsive]="true"
      [rows]="rowLimit"
      [rowHover]="true"
      [rowsPerPageOptions]="rowsPerPage"
      [sortField]="sortColumn"
      [sortOrder]="sortOrder"
      [style]="{'overflow':'visible'}"
      [totalRecords]="totalRecords"
      [value]="records"
    >
      <p-header>
        <div class="ui-helper-clearfix" style="width:100%;">
          {{datatable?.custom_name}}
          <div style="float:right;">
            <!--<app-columns-multiselect-component-->
            <!--[columns]="columns"-->
            <!--[selectedColumns]="columns"-->
            <!--(onChange)="_onMultiselect($event)"-->
            <!--&gt;-->
            <!--</app-columns-multiselect-component>-->
          </div>
        </div>
      </p-header>
      <p-column
        *ngFor="let column of columns"
        [editable]="column.can_update"
        [field]="column.column_name"
        [header]="column.custom_name"
        [hidden]="!column.is_visible"
        [style]="columnStyle"
        [sortable]="column.is_sortable"
        [filter]="column.is_filterable"
        [filterMatchMode]="column.filter_match_mode"
      >
        <ng-template let-row="rowData" pTemplate="body">
          <div [ngSwitch]="column.data_type">
          <span *ngSwitchCase="'timestamp without time zone'">
            {{row[column.column_name] | date:column.format_pattern}}
          </span>
            <span *ngSwitchCase="'numeric'">
            {{row[column.column_name] | number:column.format_pattern}}
          </span>
            <span *ngSwitchDefault>
            {{row[column.column_name]}}
          </span>
          </div>
        </ng-template>

        <ng-template let-col
                     let-row="rowData"
                     pTemplate="editor"
                     *ngIf="column.input_type !== 'text'">
          <p-autoComplete
            (completeMethod)="getSelectItems.emit({'column': column, 'value': $event.query})"
            [dataKey]="'value'"
            [field]="'label'"
            [ngModel]="selectItemValue(row[column.column_name])"
            (onKeyUp)="handleEscapeKey($event, col, rowData, rowIndex)"
            (onSelect)="updateRecord({'column': column, 'row': row, 'value': $event.value})"
            [placeholder]="column.custom_name"
            [suggestions]="selectItems"
          ></p-autoComplete>
        </ng-template>

      </p-column>
    </p-dataTable>
  </div>
</div>
