<mat-card>
  <mat-card-title>{{ header }}</mat-card-title>
  <mat-card-content class="mapping-grid">
    <mat-form-field appearance="outline">
      <mat-label>{{ keyword_input.custom_name }}</mat-label>
      <input
        matInput
        type="text"
        [placeholder]="keyword_input.custom_name"
        [(ngModel)]="keyword_input.data"
        [matAutocomplete]="keywordAuto"
        (input)="getKeywordSuggestions.emit({ column: keyword_input.column, value: $any($event.target).value })" />
      <mat-autocomplete #keywordAuto="matAutocomplete">
        <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
          {{ suggestion }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ mapping_input.custom_name }}</mat-label>
      <input
        matInput
        type="text"
        [placeholder]="mapping_input.custom_name"
        [(ngModel)]="mapping_input.data"
        [matAutocomplete]="mappingAuto"
        (keydown)="onCellEditorKeydown($event)"
        (input)="getMappingSuggestions.emit({ column: mapping_input.column, value: $any($event.target).value })" />
      <mat-autocomplete #mappingAuto="matAutocomplete">
        <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
          {{ suggestion }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-content>
</mat-card>
