<div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable
      #dt
      [dataKey]="dataKey"
      [editable]="true"
      [first]="datatable.row_offset"
      [paginator]="paginator"
      [lazy]="true"
      [loading]="areRecordsLoading"
      (onColResize)="_onColumnResize($event)"
      (onEditComplete)="updateRecord($event)"
      (onLazyLoad)="_onLazyLoad($event)"
      [reorderableColumns]="reorderableColumns"
      [resizableColumns]="true"
      [responsive]="true"
      [rows]="datatable.row_limit"
      [rowHover]="true"
      [rowsPerPageOptions]="rowsPerPage"
      [scrollable]="true"
      [scrollWidth]="datatableWidth"
      [sortField]="datatable.sort_column"
      [sortOrder]="datatable.sort_order"
      [style]="{'overflow':'visible', 'margin':'auto'}"
      [totalRecords]="totalRecords"
      [value]="records"
    >
      <p-header>
        <div class="ui-helper-clearfix" style="width:100%;">
          {{datatable.custom_name}}
        </div>
      </p-header>
      <p-column
        *ngIf="datatable.can_archive"
        [style]="actionColumn.styles"
      >
        <ng-template pTemplate="body" let-row="rowData">
          <button
            *ngIf="datatable.can_archive"
            pButton
            class="ui-button-secondary"
            (click)="archiveRow($event, row)"
            [icon]="'fa-archive'"
            [iconPos]="'left'"
            [label]="'Archive'"
            type="button"></button>
        </ng-template>
      </p-column>
      <p-column
        *ngFor="let column of columns"
        [editable]="column.can_update"
        [field]="column.column_name"
        [header]="column.custom_name"
        [hidden]="!column.is_visible"
        [style]="column.styles"
        [sortable]="column.is_sortable"
        [filter]="column.is_filterable"
        [filterMatchMode]="column.filter_match_mode"
      >
        <ng-template let-row="rowData" pTemplate="body">
          <div [ngSwitch]="column.data_type">
          <span *ngSwitchCase="'timestamp without time zone'">
            {{row[column.column_name] | date:column.format_pattern}}
          </span>
            <span *ngSwitchCase="'numeric'">
            {{row[column.column_name] | number:column.format_pattern}}
          </span>
            <span *ngSwitchDefault>
            {{row[column.column_name]}}
          </span>
          </div>
        </ng-template>

        <ng-template let-col
                     let-row="rowData"
                     let-index="rowIndex"
                     pTemplate="editor">

          <input
            *ngIf="column.input_type === 'text'"
            pInputText
            [(ngModel)]="row[col.field]"
            (keydown)="onCellEditorKeydown($event, col, row, index)"
            placeholder="{{column.custom_name}}"
            >
          <p-autoComplete
            *ngIf="column.input_type === 'dropdown'"
            (completeMethod)="getSuggestions.emit({'column': column, 'value': $event.query})"
            [dropdown]="true"
            [(ngModel)]="row[col.field]"
            (keydown)="onCellEditorKeydown($event, col, row, index)"
            [placeholder]="column.custom_name"
            [suggestions]="suggestions"
          ></p-autoComplete>
        </ng-template>

      </p-column>
    </p-dataTable>
  </div>
</div>
