<form
  class="form-shell"
  [formGroup]="form"
  (ngSubmit)="onSubmit.emit(form.value)">
  <mat-card>
    <mat-card-title>{{ formSettings.custom_name }}</mat-card-title>
    <mat-card-content>
      <div class="field-grid">
        <app-dynamic-form-element
          *ngFor="let formFieldSetting of formFieldSettings"
          [formFieldName]="formFieldSetting.field_name"
          [formFieldLabel]="formFieldSetting.custom_name"
          [formGroup]="form">
        </app-dynamic-form-element>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
