/* Global styles */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f6f8fb;
}

.page-shell {
  padding: 16px;
}
